:root{
    --color-bg: blue;
    --color-text:black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-bg);
}

h1{
    text-decoration: underline;
}

#cor-usuario{
    text-align: center;
    width: 20%;
    height: 5%;
    border: 2px black solid;
}


#btnTrocar{
    width: 10%;
    border: 2px black solid;
    height: 5%;
}

